<!-- ./views/new.handlebars -->
<form action="/restaurants" method="POST">
  <input type="text" placeholder="請輸入餐廳名" name="name">
  <input type="text" placeholder="餐廳英文" name="name_en">
  <input type="text" placeholder="分類" name="category">
  <input type="text" placeholder="圖片連結" name="image">
  <input type="text" placeholder="地址" name="location">
  <input type=" text" placeholder="電話" name="phone">
  <input type="text" placeholder="GoogleMap網址" name="google_map">
  <input type="text" placeholder="1-5分對餐廳的評價" name="rating">
  <input type="text" placeholder="簡述這家餐廳" name="description">

  <button type="submit">Create</button>
</form>